NODE_ENV="development"
GMAIL_NOREPLY="YOUR_APP_EMAIL"
GMAIL_APP_PASS="YOUR_APP_EMAIL_PASSWORD"
DOMAIN="YOUR_APP_DOMAIN"
NEXT_PUBLIC_GOOGLE_ANALYTICS="YOUR_GOOGLE_ANALYTICS_PUBLIC_KEY"
NEXT_PUBLIC_GOOGLE_RECAPTCHA_KEY="YOUR_GOOGLE_RECAPTCHA_PUBLIC_KEY"
NEXT_PUBLIC_DOMAIN="YOUR_APP_PUBLIC_DOMAIN"
