@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply max-w-screen overflow-x-hidden overscroll-y-none !scroll-smooth;
  }

  body {
    @apply font-primary-regular text-secondary bg-white antialiased;
    text-rendering: optimizeLegibility;
  }

  *,
  *::before,
  *::after {
    @apply box-border p-0 m-0;
  }

  *:focus {
    @apply outline-none;
  }

  a {
    @apply text-inherit no-underline;
  }

  p {
    @apply md:text-lg;
  }

  h1 {
    @apply font-primary-black text-6xl md:text-9xl leading-tight md:leading-tight text-gradient-light;
  }

  h3 {
    @apply font-primary-bold text-3xl md:text-5xl text-gradient-dark;
  }

  /* Primary Font - Lato */

  @font-face {
    font-family: Primary thin;
    src: url(../../public/fonts/primary/thin.ttf);
  }

  @font-face {
    font-family: Primary light;
    src: url(../../public/fonts/primary/light.ttf);
  }

  @font-face {
    font-family: Primary regular;
    src: url(../../public/fonts/primary/regular.ttf);
  }

  @font-face {
    font-family: Primary bold;
    src: url(../../public/fonts/primary/bold.ttf);
  }

  @font-face {
    font-family: Primary black;
    src: url(../../public/fonts/primary/black.ttf);
  }

  /* Interactivity */

  ::-webkit-scrollbar {
    @apply h-3 w-1.5 bg-secondary/60;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-secondary;
    -webkit-border-radius: 1ex;
  }

  ::-webkit-scrollbar-corner {
    @appky bg-secondary;
  }
}

@layer utilities {
  /* Typography */

  .h2s {
    @apply font-primary-bold text-5xl md:text-8xl leading-tight md:leading-snug tracking-wide text-gradient-dark;
  }

  .h2 {
    @apply font-primary-bold text-5xl md:text-7xl leading-tight md:leading-tight text-gradient-dark;
  }

  .text-tagline-md {
    @apply max-w-fit text-sm md:text-base text-gradient-gray;
  }

  .text-tagline-lg {
    @apply max-w-fit text-base md:text-lg text-gradient-gray;
  }

  .text-gradient-base {
    @apply py-1 text-transparent bg-clip-text bg-gradient-to-r;
  }

  .text-gradient {
    @apply text-gradient-base from-primary-dark to-primary;
  }

  .text-gradient-light {
    @apply text-gradient-base from-stone-100 via-white to-white;
  }

  .text-gradient-gray {
    @apply text-gradient-base from-stone-500 via-stone-700 to-stone-500;
  }

  .text-gradient-dark {
    @apply text-gradient-base from-secondary to-stone-700;
  }

  /* Background */

  .bg-gradient {
    @apply bg-gradient-to-r from-primary-dark to-primary-light;
  }
}
